doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='javascript', href='/javascript/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheet/bootstrap.min.css')
  body
    block content
