extends layout

block content
  form
    div.form-group.row
      label.col-form-label.col-sm-2(for='inputEmail3') Email
      div.col-sm-10
        input.form-control#inputEmail3(type="email", placeholder="Email")
    div.form-group.row
      label.col-form-label.col-sm-2(for='inputPassword3') Password
      div.col-sm-10
        input.form-control#inputPassword3(type="password", placeholder="Password")
    fieldset.form-group
      div.row
        legend.col-form-legend.col-sm-2 Radios
        div.col-sm-10
          div.form-check
            label.form-check-label
              input.form-check-input#gridRadios1(type='radio', name='gridRadios', value='oprion1' checked) Option one is this and that&mdash;be sure to include why it's great
          div.form-check
            label.form-check-label
              input.form-check-input#gridRadios2(type='radio', name='gridRadios', value='oprion2' checked) Option one is this and that&mdash;be sure to include why it's great
          div.form-check.disabled
            label.form-check-label
              input.form-check-inline#gridRadios3(type="radio", value='option3', disabled) Option three is disabled
    div.form-group.row
      div.col-sm-2 checkbox
      div.col-sm-10
      div.form-check
        label.form-check-label
          input.form-check-input(type='checkbox') Check me out
    div.form-group.row
      div.col-sm-10
        button.btn.btn-primary(type='submit') Sign in
