include layout

block content
  form.register(method="post", action="/register")
    div.form-row
      div.form-group.col-md-12
        label.col-form-label.col-sm-4(for='inputEmail1') 邮箱
        div.col-sm-10
          input.form-control#inputEmail3(type="email", placeholder="Email", name="email")
      div.form-group.col-md-12
        label.col-form-label.col-sm-4(for='inputPassword2') 密码
        div.col-sm-10
          input.form-control#inputPassword3(type="password", placeholder="Password", name="password")
      div.form-group.col-md-12
        label.col-form-label.col-sm-4(for='inputPassword2') 确认密码
        div.col-sm-10
          input.form-control#inputPassword4(type="password", placeholder="Password-repeat", name="password-repeat")
    div.form-row
      div.form-group.col-md-6
        label.col-form-label.col-sm-4(for='inputName') 名字
        div.col-sm-10
          input.form-control#inputName3(type="name", placeholder="真实姓名必填", name="name")
      div.form-group.col-md-6
        label.col-form-label.col-sm-4(for='inputID') 身份证号
        div.col-sm-10
          input.form-control#inputID3(type="ID", placeholder="身份证必填", name="id")
    div.form-group.row
      div.col-sm-4
        button.btn.btn-primary(type='submit') 注册
      div.col-sm-4.offset-sm-2
          a(href="/login") 已有账号？>>去登陆