include layout

block content
  form#formAddBlob(name="addblob",method="post",action="/register")
    p name:
      input(type="text", placeholder="name", name="name")
    p email:
      input(type="text", placeholder="name", name="email")
    p PassWord:
      input#inputBadge(type="number", placeholder="password", name="password")
    p repeat:
      input(type="text", placeholder="repeat", name="password-repeat")
    p id:
      input(type="text", placeholder="id", name="id")
    p
      button#btnSubmit(type="submit") submit