body {
  padding: 0px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/* login page style */
.login {
  width: 500px;
  height: 600px;
  background: #ffffff;
  margin: 0 auto;
  margin-top: 100px; 
}
/* home page */
.navbar-brand {
  font-size: 1.5em;
  font-family: serif;
}
.nav-item{
  padding: 10px 10px;
}
.notify {
  background-color: white;
  font-size: 0.5rem;
}
#content {
  width: 100%;
  min-height: 30px;
  margin: 10px 10px;
  box-shadow: 0 0  10px grey;
}
/* register page style */
.register {
  width: 50%;
  height: 100%;
  background: #ffffff;
  margin: 0 auto;
  margin-top: 100px;
}